<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="/" class="navbar-brand">Book Store</a></div>
  
  <ul class="navbar-nav">

    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="" class="nav-link">View Author</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addauthor" class="nav-link">Add New Author</a></li>

    
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/viewbook" class="nav-link">View Book</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addbook" class="nav-link">Add New Book</a></li>

    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
  
  
  </ul>
  
  </nav>
  
  </header>